@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -90px;
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #f063b8;
  opacity: 1;
  font-size: 20px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.eot");
  /* IE9 Compat Modes */
  src: local("Avenir Regular"), local("Avenir-Regular"), url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.woff2") format("woff2"), url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.woff") format("woff"), url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.ttf") format("truetype"), url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.svg#Avenir") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Avenir";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.eot");
  /* IE9 Compat Modes */
  src: local("Avenir Medium"), local("Avenir-Medium"), url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.woff2") format("woff2"), url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.woff") format("woff"), url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.ttf") format("truetype"), url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.svg#Avenir") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Avenir";
  font-style: demi;
  font-weight: 600;
  src: url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.eot");
  /* IE9 Compat Modes */
  src: local("Avenir Demi"), local("Avenir-Demi"), url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.eot?#iefix") format("embedded-opentype"), url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.woff2") format("woff2"), url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.woff") format("woff"), url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.ttf") format("truetype"), url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.svg#Avenir") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Avenir";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/fonts/Avenir/700-Bold/");
  /* IE9 Compat Modes */
  src: local("Avenir Demi"), local("Avenir-Demi"), url("../fonts/fonts/Avenir/700-Bold/avenir-next-bold.woff2") format("woff2"), url("../fonts/fonts/Avenir/700-Bold/avenir-next-bold.woff") format("woff"), url("../fonts/fonts/Avenir/700-Bold/avenir-next-bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

:root {
  --color1: red;
  --title-color: #212353;
  --main-text-color: #4b5d68;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 2px solid red; */
}

body {
  background-color: var(--color);
  color: var(--main-text-color);
  font-family: Avenir, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
}

/* margin 20 px
  grid 75px */
h1,
h2,
h3 {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.title {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  color: var(--title-color);
  margin: 0;
}

.btn {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  padding: 17px 30px;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.005em;
  color: var(--title-color);
  transition: 250ms linear;
}

.btn-arrow {
  margin-left: 20px;
  --color1: #9c69e2;
}

.btn:hover,
.btn:focus {
  background-color: #9c69e2;
  color: #ffffff;
}

.btn:hover .btn-arrow,
.btn:focus .btn-arrow {
  --color1: #ffffff;
}

.accent-btn {
  background-color: #9c69e2;
  color: #ffffff;
}

.accent-btn:hover,
.accent-btn:focus {
  background-color: #ffffff;
  color: #9c69e2;
}

.btn-pink {
  margin-right: 30px;
  background-color: #f063b8;
  color: #ffffff;
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-item .menu-link:hover,
.menu-item .menu-link:focus {
  font-weight: 800;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(33, 35, 83, 0.1);
  transition: 250ms linear;
}

.social.list {
  display: flex;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 14px;
}

.social-icon {
  --color1: #ffffff;
}

.social-link:hover,
.social-link:focus {
  background-color: #9c69e2;
}

.section {
  padding-bottom: 150px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  text-shadow: 1px 1px 0 #858585, 1px -1px 0 #858585, -1px 1px 0 #858585, -1px -1px 0 #858585, 1px 0px 0 #858585, 0px 1px 0 #858585, -1px 0px 0 #858585, 0px -1px 0 #858585, 0px -3px 0px rgba(137, 137, 137, 0);
}

.hero-title {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1;
  margin-bottom: 50px;
}

.hero-text {
  max-width: 380px;
  margin-bottom: 50px;
}

.hero {
  padding-bottom: 200px;
  background-image: url(../images/bg-hero.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 10% bottom 100px;
}

.hero-content {
  width: calc(100% / 12 * 7);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .logo {
  margin-right: 120px;
}

.logo {
  font-weight: 900;
  font-size: 20px;
  color: #212353;
}

.logo.link {
  display: inline-block;
  margin-bottom: 67px;
}

.logo-img {
  display: inline-block;
  margin-right: 20px;
}

.features-iteme-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
}

.feature-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  text-align: center;
  max-width: 584px;
}

.features-item {
  position: relative;
  padding-top: 80px;
  padding-left: 260px;
  padding-bottom: 80px;
  padding-right: 50px;
  width: calc((100% - 40px) / 2);
  margin: 25px 10px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: -25px -10px;
}

.features-iteme-title {
  margin-bottom: 20px;
}

.learn-more {
  position: absolute;
  bottom: 10%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.005em;
  color: #212353;
  transition: 250ms linear;
}

.learn-more::after {
  margin-left: 20px;
  content: "";
  display: inline-block;
  height: 17px;
  width: 25px;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 250ms linear;
}

.learn-more:hover::after {
  margin-left: 30px;
}

.learn-more:hover,
.learn-more:focus {
  opacity: 0.8;
}

.features-item:nth-child(1) {
  background-image: url("../images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.features-item:nth-child(2) {
  background-image: url("../images/2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.features-item:nth-child(3) {
  background-image: url("../images/3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.features-item:nth-child(4) {
  background-image: url("../images/4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials .container {
  background: #9c69e2;
  border-radius: 50px;
  padding-bottom: 130px;
}

.testimonials .section-title {
  color: #ffffff;
  padding-top: 109px;
  padding-left: 93px;
}

.slaider-img {
  border-radius: 50%;
}

.slaider-item.slick-slide {
  width: 645px;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 70px 50px;
  background: #ffffff;
  box-shadow: 0px 20px 0px 0px rgba(73, 51, 104, 0.5);
  border-radius: 20px;
  transition: 500ms;
}

.slaider-item:not(:first-child) {
  width: 400px;
  padding-left: 40px;
}

.slaider-item.slick-current {
  width: 645px;
}

.slaider-link {
  margin: 0;
}

.slaider-title {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.6;
  color: var(--title-color);
}

.article-description {
  padding-top: 20px;
  margin-left: 30px;
}

.slaider-position {
  margin: 0 0 19px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #9c69e2;
}

.slaider-text {
  height: 130px;
  overflow: hidden;
  font-weight: normal;
  line-height: 1.8;
}

.slaider-buttoms {
  display: flex;
  justify-content: flex-end;
}

.slaider-button-right {
  width: 60px;
  height: 14px;
  background-image: url("../images/long-white-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #9c69e2;
  border: none;
}

.slaider-button-left {
  width: 30px;
  height: 14px;
  background-image: url("../images/white-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #9c69e2;
  border: none;
}

.about .container {
  position: relative;
  padding: 125px 93px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.about .section-content {
  width: 50%;
  margin-left: auto;
}

.about .section-content::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 477px;
  height: 504px;
  background-image: url(../images/img2.png);
  background-repeat: no-repeat;
}

.offer {
  padding-top: 100px;
  border-top: 2px solid rgba(156, 105, 226, 0.2);
}

.offer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer .section-title {
  margin-bottom: 20px;
}

.offer-text {
  margin: 0;
}

.footer-widget {
  width: calc((100% - 20px) / 12 * 3);
}

.footer-widget:last-child {
  width: calc((100% - 20px) / 12 * 7);
}

.footer .container {
  justify-content: space-between;
  align-items: baseline;
}

.footer-menu {
  justify-content: space-between;
}

.footer-menu .menu-item {
  width: 33%;
}

.footer-menu .menu-item-title {
  font-weight: 900;
  font-size: 16px;
  color: #212353;
}

.submenu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #212353;
}

address > p {
  margin-bottom: 10px;
}

.container.copyright {
  margin-top: 93px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #212353;
}
/*# sourceMappingURL=main.css.map */