* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  outline: 1px solid red;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

%container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

%button {
  min-width: 170px;
  height: 60px;
  border-radius: 50px;
  background-color: transparent;
  &:hover {
    font-weight: 800;
    background-color: #fff;
    color: $button-bg;
  }
}

ul,
a,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;

  &:hover,
  &:fosuc {
    cursor: pointer;
  }
}
