.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(33, 35, 83, 0.1);
    transition: 250ms linear;
  }
  
  .social.list {
    display: flex;
    align-items: center;
  }
  .social-item:not(:last-child) {
    margin-right: 14px;
  }
  
  .social-icon {
    --color1: #ffffff;
  }
  
  .social-link:hover,
  .social-link:focus {
    background-color: #9c69e2;
  }
  