.hero-section {
  background-image: url();
}

.hero-title {
  width: 645px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: $title-color;
}

.hero-text {
  width: 380px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  color: $text-color;
}

.hero-button {
  @extend %button;
  border: transparent;
  background: $button-bg;
  border-radius: 50px;
  color: #fff;

  &:hover {
    font-weight: 800;
    background-color: #fff;
    color: $button-bg;
  }
}
