@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.eot"); /* IE9 Compat Modes */
    src: local("Avenir Regular"), local("Avenir-Regular"),
      url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */
        url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.woff")
        format("woff"),
      /* Modern Browsers */
        url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/fonts/Avenir/400-Regular/avenir-next-regular.svg#Avenir")
        format("svg"); /* Legacy iOS */
  }
  
  @font-face {
    font-family: "Avenir";
    font-style: medium;
    font-weight: 500;
    src: url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.eot"); /* IE9 Compat Modes */
    src: local("Avenir Medium"), local("Avenir-Medium"),
      url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */
        url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.woff")
        format("woff"),
      /* Modern Browsers */
        url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/fonts/Avenir/500-Medium/avenir-next-medium.svg#Avenir")
        format("svg"); /* Legacy iOS */
  }
  
  @font-face {
    font-family: "Avenir";
    font-style: demi;
    font-weight: 600;
    src: url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.eot"); /* IE9 Compat Modes */
    src: local("Avenir Demi"), local("Avenir-Demi"),
      url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.woff") format("woff"),
      /* Modern Browsers */
        url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/fonts/Avenir/600-Demi/avenir-next-demi.svg#Avenir")
        format("svg"); /* Legacy iOS */
  }
  
  @font-face {
    font-family: "Avenir";
    font-style: bold;
    font-weight: 700;
    src: url("../fonts/fonts/Avenir/700-Bold/"); /* IE9 Compat Modes */
    src: local("Avenir Demi"), local("Avenir-Demi"),
      /* IE6-IE8 */ url("../fonts/fonts/Avenir/700-Bold/avenir-next-bold.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../fonts/fonts/Avenir/700-Bold/avenir-next-bold.woff") format("woff"),
      /* Modern Browsers */
        url("../fonts/fonts/Avenir/700-Bold/avenir-next-bold.ttf")
        format("truetype");
    /* Safari, Android, iOS */
  }