.about .container {
    position: relative;
    padding: 125px 93px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
  }
  
  .about .section-content {
    width: 50%;
    margin-left: auto;
  }
  
  .about .section-content::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: block;
    width: 477px;
    height: 504px;
    background-image: url(../images/img2.png);
    background-repeat: no-repeat;
  }