.footer-widget {
    width: calc((100% - 20px) / 12 * 3);
  }
  
  .footer-widget:last-child {
    width: calc((100% - 20px) / 12 * 7);
  }
  
  .footer .container {
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-menu {
    justify-content: space-between;
  }
  
  .footer-menu .menu-item {
    width: 33%;
  }
  
  .footer-menu .menu-item-title {
    font-weight: 900;
    font-size: 16px;
    color: #212353;
  }
  .submenu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #212353;
  }
  address > p {
    margin-bottom: 10px;
  }
  .container.copyright {
    margin-top: 93px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.01em;
    color: #212353;
  }