.logo {
    font-weight: 900;
    font-size: 20px;
    color: #212353;
  }
  .logo.link {
    display: inline-block;
    margin-bottom: 67px;
  }
  
  .logo-img {
    display: inline-block;
    margin-right: 20px;
  }