.offer {
    padding-top: 100px;
    border-top: 2px solid rgba(156, 105, 226, 0.2);
  }
  
  .offer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .offer .section-title {
    margin-bottom: 20px;
  }
  
  .offer-text {
    margin: 0;
  }